footer{
    height: 238px;
    background: #7C3384;
    color: #FFFFFF;
    margin: 48px 0 0 0 ;
}
.content-footer{
    display: flex;
    justify-content: space-between;
    margin: 0 151px;

}
.logo-footer{
    width: 96px;
    height: 96px;
    margin:48px 0 94px 0;
}
footer ul {
    margin-top: 48px;
}
footer ul li{
list-style: none;
margin-bottom: 24px;
}
footer ul li a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
}
.footer-icon{
    display: flex;
    margin-top: 0;
}
.footer-icon img{
width: 32px;
height: 32px;
margin-right: 8px;
}
.footer-icon span{
margin-top: 8px;
}
footer ul li a h1{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;  
    color: #FFFFFF;
    margin-top: 0;
    
    

}